@model IEnumerable<WEB_PROJECT.Models.Images>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-grey">
    <div class="row">
        @foreach (var img in Model)
        {
            var base64 = Convert.ToBase64String(img.Image);
            var imgsrc = string.Format("data:image/png;base64,{0}", base64);
            
            <img src='@imgsrc' id ="work" style="max-width:350px;max-height:350px;" />
            @Html.ActionLink("Delete", "Delete", new { id = img.ImageID })
            <span style="display:block">@img.Name</span>
             
        }
       
    </div>
</div>