
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Paint.WEB</h2><br>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
            <p style={color:white;}>Donec ut sem velit. Curabitur eu odio vitae sapien consectetur vehicula. Etiam semper massa elit, et cursus odio bibendum in. In magna ex, egestas a augue sed, pharetra venenatis nisl. Etiam ut nisi eget quam bibendum lobortis. Sed ut nisi ligula. Nulla scelerisque feugiat egestas. Proin a sem turpis. Nulla a nunc laoreet, dictum tellus quis, iaculis nunc. Etiam ut velit vitae orci interdum pellentesque. In sed volutpat leo. Integer rhoncus mattis mauris non volutpat. Fusce accumsan pulvinar massa eu rhoncus. Sed posuere sed lorem sed pulvinar. Vivamus sed ex ac lacus maximus pulvinar. Vestibulum nibh nunc, lacinia at vestibulum varius, venenatis in ante.</p>
        </div>

        <div class="col-sm-4">
            <span>
                <video width="480" height="300" controls>
                    <source src="~/Content/2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </span>
        </div>


    </div>

    <button id="myBtn" class="btn btn-primary btn-block">Contact us</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Contacts</h2>
            </div>
            <div class="modal-body">
                <p>Tel:87052257915</p>
                <p>Email: vlad-mun1999@gmail.com</p>
            </div>
            <div class="modal-footer">
                <h3>Click anywhere outside to close</h3>
            </div>
        </div>

    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</div>