
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Paint.WEB</h2><br>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
            <p>Donec ut sem velit. Curabitur eu odio vitae sapien consectetur vehicula. Etiam semper massa elit, et cursus odio bibendum in. In magna ex, egestas a augue sed, pharetra venenatis nisl. Etiam ut nisi eget quam bibendum lobortis. Sed ut nisi ligula. Nulla scelerisque feugiat egestas. Proin a sem turpis. Nulla a nunc laoreet, dictum tellus quis, iaculis nunc. Etiam ut velit vitae orci interdum pellentesque. In sed volutpat leo. Integer rhoncus mattis mauris non volutpat. Fusce accumsan pulvinar massa eu rhoncus. Sed posuere sed lorem sed pulvinar. Vivamus sed ex ac lacus maximus pulvinar. Vestibulum nibh nunc, lacinia at vestibulum varius, venenatis in ante.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>What are you waiting for?</h2><br>
            <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
            <p>
                <strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</div>