@model IEnumerable<WEB_PROJECT.Models.Images>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-grey">
    <h2>All Works</h2>
    <input type="submit" class="btn btn-primary btn-block" value="View/Edit your works" onclick="location.href='@Url.Action("Drawings", "Home")'" />
    <input type="submit" class="btn btn-primary btn-block" value="Back to all" onclick="location.href='@Url.Action("Showcase", "Home")'" />
    <br />
    <div class="row text-center">
        @foreach (var img in Model)
        {
            var base64 = Convert.ToBase64String(img.Image);
            var imgsrc = string.Format("data:image/png;base64,{0}", base64);

            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src='@imgsrc' id="work" style="max-width:350px;max-height:350px;" />
                    <p><strong>@img.Name</strong></p>
                    <p>A work by anonymous</p>
                </div>
            </div>
        }
    </div>
</div>